<a href="https://colab.research.google.com/github/aSafarpoor/KGCLG/blob/main/1_Data_preparation_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import random
import numpy as np
from tqdm import tqdm 
import pandas as pd
import json
import pickle

In [70]:
from google.colab import drive
drive.mount('/content/drive/')

%cd /content/drive/My Drive/

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/My Drive

In [71]:
# !mkdir KGCLG
%cd KGCLG

/content/drive/My Drive/KGCLG

## download data

In [72]:
# with open('meta.pickle', 'wb') as handle:
    # pickle.dump(meta, handle)

with open('ui.pickle', 'rb') as handle:
    ui = pickle.load(handle)

with open('meta.pickle', 'rb') as handle:
    meta = pickle.load(handle)

# with open('filename.pickle', 'rb') as handle:
    # b = pickle.load(handle)

## create graph

In [73]:
def create_graph(df):
    pass

In [74]:
ui.head(5)

         asin      reviewerID
0  0176496920  A3FANY5GOT5X0W
1  0176496920   AT6HRPPYOPHMB
2  0176496920   A4IX7B38LIN1E
3  0176496920  A12Q4LR8N17AOZ
6  0176496920  A1IFO0SYT4VYHQ

In [75]:
meta.head(5)

,asin,brand,imageURL,imageURLHighRes,category,text
0,0176496920,"[TurningTechnologies,LLC]",https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,"[Industrial & Scientific, Industrial Electrica...",turning technologies response card rcrfrcrf wo...
1,0781776848,[AnatomicalChartCompany],,,"[Industrial & Scientific, Science Education]",anatomical chart companys illustrated pocket a...
2,0781786606,[AnatomicalChartCompany],,,"[Industrial & Scientific, Science Education, C...",joints lower extremities anatomical chartdiv d...
3,0840026080,[ResponsiveInnovations],https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...,"[Industrial & Scientific, Industrial Electrica...",turning technologies responsecard xr rcxradvan...
4,1587790319,[AnatomicalChartCompany],,,"[Industrial & Scientific, Science Education, C...",male reproductive system anatomical chartdivth...

In [76]:
meta2 = meta.sort_values(by=['asin'], ascending=True)

In [77]:
l = []
for i in tqdm(range(1,len(meta2))):
    if meta2.iloc[i-1].asin == meta2.iloc[i].asin:
        l.append(i)
        # print(meta2.iloc[i-1])
        # print(meta2.iloc[i])
        # print("--------------------------------------------------------------")
print('\n',len(l),len(meta))

100%|██████████| 147328/147328 [00:20<00:00, 7144.59it/s]

 0 147329

In [78]:
len(list(set(list(meta2.asin)))),len(list(set(list(meta.asin)))),149027-1698

(147329, 147329, 147329)

In [79]:
meta3 = meta2.drop(meta2.index[l])

In [80]:
meta = meta3

In [81]:
meta = meta.reset_index()
del meta['index']

In [82]:
with open('meta.pickle', 'wb') as handle:
    pickle.dump(meta, handle)

In [83]:
cats = list(meta.category)

In [84]:
catlist = []
for cat in cats:
    for c in cat:
        catlist.append(c)
catlist = list(set(catlist))

In [85]:
len(catlist)

3274

In [86]:
len(meta)

147329

In [87]:
catedges = [[],[]]
for i in tqdm(range(len(meta))):
    row = meta.iloc[i]
    cats = row.category
    # catdi = catd[i]
    catasin = row.asin
    for cat in cats:
        catedges[0].append(catasin)
        catedges[1].append(cat)

100%|██████████| 147329/147329 [00:12<00:00, 11780.07it/s]

In [88]:
z = np.zeros(11)
for i in tqdm(range(len(meta))):
    row1 = meta.iloc[i].category 
    z[min(10,len(row1))]+=1

100%|██████████| 147329/147329 [00:10<00:00, 13643.13it/s]

In [89]:
for i in z:
    print(i)

0.0
0.0
7897.0
26218.0
75530.0
31841.0
5720.0
21.0
20.0
34.0
48.0

In [90]:
def sorter(s):
    s.sort()
    return s

In [91]:
tqdm.pandas()

In [92]:
meta['category'] = meta['category'].progress_apply(sorter)

100%|██████████| 147329/147329 [00:00<00:00, 754297.78it/s]

In [94]:
with open('catedges1.pickle', 'wb') as handle:
    pickle.dump(catedges, handle)