<a href="https://colab.research.google.com/github/aSafarpoor/KGCLG/blob/main/LightGCN_part2_view0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from tqdm import tqdm 
import pandas as pd
import pickle

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

%cd /content/drive/My Drive/KGCLG

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/My Drive/KGCLG

In [3]:
!ls

brands1.pickle			     meta_justV.rar
catedges1.pickle		     meta.pickle
iinits.pickle			     n2brands.csv
Industrial_and_Scientific.json	     uinits.pickle
meta128_2.csv			     ui.pickle
meta128.pickle			     view0_edges_dict.csv
meta_Industrial_and_Scientific.json  view0-embeddings.csv
meta_justV			     view0-embeddings.json

In [4]:
def pickle_reader(name):
    with open(name, 'rb') as handle:
        b = pickle.load(handle)
        return b
ui = pickle_reader("ui.pickle")
users = list(set(list(ui.reviewerID)))
items = list(set(list(ui.asin)))

In [5]:
nvd = {}

for n in tqdm(users):
    nvd[n]=[]
for n in tqdm(items):
    nvd[n]=[]

100%|██████████| 914150/914150 [00:02<00:00, 399996.47it/s]
100%|██████████| 131400/131400 [00:00<00:00, 526239.37it/s]

In [6]:
for ind in tqdm(range(len(ui))):
    row = ui.iloc[ind]
    e1, e2 = row['asin'],row['reviewerID']
    nvd[e1].append(e2)   
    nvd[e2].append(e1)

100%|██████████| 1267323/1267323 [01:45<00:00, 12051.00it/s]

In [13]:
nv = np.array([list(nvd.keys()),list(nvd.values())]).T
df2 = pd.DataFrame (nv, columns = ['neigh1','neigh2'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.

In [15]:
df2.head(10)

           neigh1                    neigh2
0   APGT99CU2U8WG              [B00YMECNMI]
1  A36QL1MDUKI5N5              [B00N582CBY]
2   AVAG2D00E6ZDZ              [B015X9YH2O]
3  A2WFFCSZJR84YU              [B001C7HKMG]
4   AGT55D0FT0P03              [B001BSJ7FE]
5  A1S7MMR58JKV7H              [B0002AYZUO]
6   AAQKZ1606FH7M  [B000LDDOXG, B003VAY4SA]
7  A2Z640C8Z4PCC4              [B00KZHP49K]
8  A1DOXPQYM3X794              [B0026T7AZG]
9   AZBDWES1296MV              [B000189RMS]

In [16]:
df2.to_json('view0-edges.json', orient = 'split', compression = 'infer', index = 'true')