<a href="https://colab.research.google.com/github/aSafarpoor/KGCLG/blob/main/view0binary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from tqdm import tqdm 
import pandas as pd
import pickle

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

%cd /content/drive/My Drive/KGCLG

Mounted at /content/drive/
/content/drive/My Drive/KGCLG

In [3]:
!ls

brands1.pickle			     meta_justV.rar
catedges1.pickle		     meta.pickle
iinits.pickle			     n2brands.csv
Industrial_and_Scientific.json	     uinits.pickle
meta128_2.csv			     ui.pickle
meta128.pickle			     view0_edges_dict.csv
meta_Industrial_and_Scientific.json  view0-edges.json
meta_justV			     view0-embeddings.json

In [4]:
v0em = pd.read_json('view0-embeddings.json', orient ='split', compression = 'infer')
# v0edges = pd.read_json('view0-edges.json', orient ='split', compression = 'infer')

In [25]:
def binary(v):
    s = sum(v)
    l = len(v)
    a = s/l
    v = np.array(v)
    v[v>=a] = 1
    v[v<1] = 0
    return v

In [26]:
tqdm.pandas()

In [27]:
x = v0em.iloc[0].vector

In [28]:
len(x),x[0]

(128, -0.4936316013)

In [31]:
v0em['vector'] = v0em['vector'].progress_apply(binary)

100%|██████████| 1045550/1045550 [00:22<00:00, 46444.49it/s]

In [32]:
def inter(v):
    return list(map(int,v))

In [35]:
v0em['vector'] = v0em['vector'].progress_apply(inter)

100%|██████████| 1045550/1045550 [00:34<00:00, 30562.16it/s]

In [37]:
v0em

                   name                                             vector
0            B00VIXNYC4  [0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, ...
1            B004SORQF6  [0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...
2            B00P6TZA50  [1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, ...
3            B014V6EDHO  [0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, ...
4            B0159MXPW8  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, ...
...                 ...                                                ...
1045545  A2KFR1JB0UNRHC  [0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, ...
1045546  A1UHH9SEJSFB2S  [0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, ...
1045547  A3UNHNNC397LKQ  [1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, ...
1045548  A1FOB562FHKI6A  [1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, ...
1045549  A2PXD1Z2KMESLS  [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, ...

[1045550 rows x 2 columns]

In [38]:
v0em.to_json('view0-binary.json', orient = 'split', compression = 'infer', index = 'true')